body {
	min-width: 1250px;
	max-width: 1920px;
	height: 720px;
	font-family: "宋体";
	font-size: 20px;
	background-color: #f0fff9;
}
button {
	border: 0px;
	background-color: transparent;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	outline: none;
	color: #505050;
}
.header {
	height: 60px;
	width: 100%;
	background-color: #66CCCC;
	line-height: 60px;
	position: relative;
}
.logo {
	width: 20%;
	float: left;
	padding-left: 10px;
}
.logo img {
	position: absolute;
	top: 5px;
}
.logo h1 {
	position: absolute;
	top: -20px;
	padding-left: 70px;
	color: #FFFFFF;
	font-size: 30px;
	display: inline-block;
}
.login {
	width: 20%;
	height: 60px;
	float: right;
	position: relative;
}
.admin {
	width: 50%;
	height: 60px;
	float: left;
	position: relative;
	
	background: url(../img/user.png) no-repeat 1%;
}

#admin-name {
	position: absolute;
	width: 65%;
	margin-left: 50px;
	margin-right: 15px;
	height: 60px;
	color: #FFFFFF;
	font-size: 20px;
	background: url(../img/angle.png) no-repeat 80%;
}
#angle {
	position: absolute;
	top: 40%;
	right: 10px;
}
.exit {
	position: relative;
	float: right;
	width: 50%;
	height: 60px;
	color: #FFFFFF;
	font-size: 18px;
	background: url(../img/exit.png) no-repeat 10%;
}
.content {
	height: 660px;
	width: 100%;
	position: relative;
	background-color: #f0fff9;
}
.nav {
	height: 660px;
	width: 16%;
	position: absolute;
	background-color: #FFFFFF;
}
.nav ul {
	overflow: hidden;
	border: none;
	padding: 0;
	margin: 0;
}
.nav ul ul {
	display: none;
	border: 1px solid #00BFFF;
}
.right-angle, .down-angle{
	display: inline-block;
	height: 15px;
	width: 30px;
	background: url(../img/rightAngle.png) no-repeat center;
}
.down-angle {
	background: url(../img/downAngle.png) no-repeat center;
}
.nav .level1 a{
	font-size: 1.2em;
	padding: 10px 0;
	display: block;
	text-align: center;
	line-height: 45px;
	/*单行垂直居中   个人经验   很多情况   有了行高就不用给高度*/
}
.nav a:hover{
	border-bottom: 2px solid #faac08;
	background-color: rgba(254, 230, 50, 0.5);
}
.nav .level2 {
	border-bottom: 1px solid #FFFFFF;
}
.nav .level2 a{
	
	font-size: 20px;
	color: #6e6e6e;
	text-align: center;
	/*a是行内元素，没有大小需要转换*/
	line-height: 40px;
	/*单行垂直居中   个人经验   很多情况   有了行高就不用给高度*/
	background-color: rgba(0, 0, 255, 0.1);
}
/*中间内容*/

.detail {
	height: 612px;
	width: 80%;
	line-height: 612px;
	font-size: 2em;
	color: #FFFFFF;
	position: absolute;
	top: 24px;
	right: 30px;
	background-color: #6dcccc;
	background: url(../img/首页_03.jpg);
}
.task {
	height: 612px;
	width: 80%;
	font-size: 2em;
	color: #FFFFFF;
	position: absolute;
	top: 24px;
	right: 30px;
	overflow: hidden;
	background-color: #FFFFFF;
}
.task-h {
	height: 50px;
	width: 100%;
	padding-left: 50px;
	background-color: #d8d8d8;
}
.task-h p {
	display:inline-block;
	line-height: 48px;
	margin-top: 2px;
	color: #505050;
	font-size: 20px;
	background-color: #FFFFFF;
}
/*任务按钮*/
.btn {
	padding-left: 65px;
	width: 100%;
	line-height: 120px;
	background-color: #FFFFFF;
}
.btn button {
	height: 55px;
	width: 10%;
	font-size: 18px;
	color: #FFFFFF;
	padding-left: 3%;
	background: url(../img/new.png) no-repeat 22%;
	background-color: #faac08;
	border: 2px solid #f8be44;
}
.btn button:nth-child(2) {
	background: url(../img/delete.png) no-repeat 22%;
	background-color: #71cccc;
	border: 2px solid #91f1f1;
}
.btn button:nth-child(3) {
	background: url(../img/publish.png) no-repeat 22%;
	background-color: #71cccc;
	border: 2px solid #91f1f1;
}
.btn button:hover {
	border: 2px solid #FFFFFF;
}
/*任务表格*/
.table-c {
	height: 442px;
	width: 95%;
	margin: 0 auto;
	overflow-y: auto;
}
table {
	width: 100%;
}
table tr td {
	line-height: 50px;
	width: 20%;
	font-size: 18px;
	color: #3e3e3e;
}

table tr td:nth-child(3){
	width: 50%;
}
table tr td:nth-child(4){
	width: 10%;
}
table thead tr{
	font-weight: bold;
	background-color: #FFFFFF;
}
table thead td:nth-child(1){
	padding-left: 3%;
}
table tbody td {
	font-size: 14px;
}
table tbody tr:nth-child(odd){
	background-color: #d8d8d8;
}
table tbody tr:hover{
	background-color: rgba(102, 204, 204, 0.2);
}
.introduce {
	height: 50px;
	width: 500px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.introduce-s {
	position: absolute;
	padding: 0 10px;
	width: 500px;
	border-radius: 5px;
	line-height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #00BFFF;
}
.arrow-t-int{
	width: 0;
	height: 0;
	border-width: 14px;
	border-style: solid;
	border-color: transparent transparent #FFFFFF transparent;
	position: absolute;
	top: -27px;
	left: 50px;
}
.arrow-t-out {
	width: 0;
	height: 0;
	border-width: 14px;
	border-style: solid;
	border-color: transparent transparent #00BFFF transparent;
	position: absolute;
	top: -28px;
	left: 50px;
}
table tbody .noP {
	color: #9f0d0d;
}
table tbody .yesP {
	color: #259f0d;
}
/*复选框*/
.table-c tbody td input[type="checkbox"]{
	margin: -5px 10px;
	/*同样，首先去除浏览器默认样式*/
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/*编辑我们自己的样式*/
	position: relative;
	width: 25px;
	height: 25px;
	background: transparent;
	border:2px solid #00BFFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}
.table-c tbody td input[type="checkbox"]:after{
	content: '√';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: #00BFFF;
	color: #fff;
	text-align: left;
	line-height: 25px;
	/*增加动画*/
	-webkit-transition: all ease-in-out 300ms;
	-moz-transition: all ease-in-out 300ms;
	transition: all ease-in-out 300ms;
	/*利用border-radius和opacity达到填充的假象，首先隐藏此元素*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	opacity: 0;
}
.table-c tbody td input[type="checkbox"]:checked:after{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	opacity: 1;
}

